<div class="jumbotron">
  <h1>Bloccit</h1>
  <p>Bloccit is a site for sharing whatever's on your mind with likewise individuals.</p>
  <p>
    <%= link_to "Sign In", new_session_path %> or
    <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Cannot make sense of Radiohead's recent music?</h2>
    <p>There's a million people right here who couldn't agree more and cannot wait for another complaint. Too bad you all just dont get it!</p>
  </div>
  <div class="col-md-4">
    <h2>Just dont get the whole Disneyland Social Club Scene?</h2>
    <p>You are definitely not alone on that one. And how about those vests??? We'd love to hear it.</p>
  </div>
  <div class="col-md-4">
    <h2>Want to put Elon Musk in one of his own rockets the next time he pollutes space?</h2>
    <p>A car in space? Actually, that's pretty cool! Oh, you dont agree?</p>
  </div>
</div>
